.header {
    width: 100%;
    top:0;
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

.header h1 {
    display: inline;
}

.settings {
    position: inherit;
    float: right;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Lobby */

#lobby {
    padding-left: 16px;
}

.new {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    transition: all 1s ease;
    border: 2px solid #c0c0c0;
    border-radius: 10%;
    color:  #c0c0c0;
    margin: 4px;
    cursor: pointer;
}

.new .remove {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
    transition: all 1s ease;
    color: #c0c0c0;
}

.new:hover .remove:hover {
    background-color: rgb(241, 180, 180);
    color: red;
    border-color: red;
}

.new:hover {
    border: 2px solid #1d8a1d;
    background-color: #d0f0d0;
}

.new .icon {
    position: absolute;
    top:16px;
    left:32px;
    height:64px;
    width: 64px;
    text-align: center;
    line-height:64px;
    font-size:48px;
    transition: all 1s ease;
}

.new .name {
    position: absolute;
    left:8px;
    top:96px;
    width:112px;
    height: 1px;
    font-size: 16px;
    line-height:16px;
    text-align: center;
    font-weight: bold;
    transition: all 1s ease;
}

.new:hover .icon {
    color: #1d8a1d;
}

.new:hover .name {
    color: black;
}

.poker_table {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    transition: all 1s ease;
    border: 2px solid #c0c0c0;
    border-radius: 10%;
    color:  #c0c0c0;
    margin: 4px;
    cursor: pointer;
}

.poker_table .remove {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
    transition: all 1s ease;
    color: #c0c0c0;
}

.poker_table:hover .remove:hover {
    background-color: rgb(241, 180, 180);
    color: red;
    border-color: red;
}

.poker_table:hover {
    border: 2px solid #4b4beb;
    background-color: #d0d0f0;
}

.poker_table .icon {
    position: absolute;
    top:16px;
    left:32px;
    height:64px;
    width: 64px;
    text-align: center;
    line-height:64px;
    font-size:48px;
    transition: all 1s ease;
}

.poker_table .name {
    position: absolute;
    left:8px;
    top:96px;
    width:112px;
    height: 1px;
    font-size: 16px;
    line-height:16px;
    text-align: center;
    font-weight: bold;
    transition: all 1s ease;
}

.poker_table:hover .icon {
    color: #4b4beb;
}

.poker_table:hover .name {
    color: black;
}

/* Table */

.controls .control {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 2px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #c0c0c0;;
    border-radius: 10%;
    transition: all 1s ease;
    color: #c0c0c0;
    cursor: pointer;
}

.controls .control:hover {
    border: 1px solid black;
    background-color: #c0c0c0;
    color: black;
}

#cards div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 128px;
    width: 96px;
    margin: 4px;
    text-align: center;
    line-height: 128px;
    font-size: 32px;
    border: 2px solid #c0c0c0;
    border-radius: 10%;
    transition: all 1s ease;
    color: #c0c0c0;
}

#cards div:hover {
    border-color: #5050d0;
    background-color: #d0d0f0;
    color: #5050d0;
}

#status .icon {
    position: relative;
    display: inline-block;
    height: 64px;
    width: 48px;
    margin: 4px;
    text-align: center;
    line-height: 64px;
    font-size: 32px;
    border: 2px solid #c0c0c0;;
    border-radius: 10%;
    transition: all 1s ease;
    color: #c0c0c0;
}

#status .name {
    position: relative;
    display: inline-block;
    height: 64px;
    margin: 4px;
    line-height: 64px;
    font-size: 32px;
}